<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="BrainCheck Logo">
            <span>BrainCheck</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('upload') }}">Scan Now</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p class="disclaimer">Disclaimer: This tool is powered by AI and should not be relied upon exclusively for medical diagnoses. Always seek advice from healthcare professionals when making medical decisions.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>